<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Found</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/found.css') }}">
  <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div id="container">
  <div class="search bar">
    <form action = "http://localhost:5000/login" method = "post">
        <input type="text" placeholder="请输入您要搜索的内容..." name="search">
        <button type="submit"  value="Search"><i ></i></button>
    </form>
  </div>
</div>
  <div id="container">
  <ul>
  {%for dict in datas%}
  <li>
    {% for key, value in dict.items() %}
    <a href="{{value}}">{{key}}:{{value}}</a></br> 
    {% endfor %}
  </li>
  {% endfor %} 

  
</ul>
</div>



</body>
</html>